.App {
    text-align: center;

    --border-radius: 8px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

button,
input[type='submit'] {
    background-color: #014222;
    border: none;
    border-radius: var(--border-radius);
    color: white;
    font-size: 24px;
    padding: 8px 24px;
    margin: 16px;
}

button:hover,
input[type='submit']:hover {
    background-color: #005229;
}

button:active,
input[type='submit']:active {
    background-color: #006433;
}

button:disabled {
    background-color: gray;
    filter: brightness(50%);
}

button.button-round {
    background-color: transparent;
    border: solid #014222 2px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    padding: 0;
}

button.button-round:hover {
    border-color: #005229;
}

button.button-round:active {
    border-color: #006433;
}

button.button-round:disabled {
    border-color: gray;
}

button.button-round.button-small {
    width: 32px;
    height: 32px;
    font-size: 20px;
    margin: 8px;
}

a,
a:visited {
    color: #579aff;
}

.form-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.form-input-wrapper label {
    margin-right: 8px;
}

.form-input-wrapper input[type='text'],
.form-input-wrapper input[type='password'] {
    border-radius: var(--border-radius);
    border: none;
    padding: 8px;
}

.middle-align {
    vertical-align: middle;
}

.App-header {
    background-color: #15171c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: Nunito, sans-serif;
}

.App-header h1 {
    font-size: 64px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.NewPoll-parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewPoll-parameters h3 {
    margin-bottom: 8px;
}

.NewPoll-delete {
    margin-right: -38px !important;
}

.NewPoll-delete:disabled {
    visibility: hidden;
}

.VotingPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VotingPage-choices {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
